<div class="widget widget-categories">
    <h3 class="widget-title">Operations</h3>
    <ul>
        <li>
            <a href="{{ path('adminpage_add_product') }}">Add Product <span class="count">(6)</span></a>
        </li>
        <li>
            <a href="#!">Tables <span class="count">(7)</span></a>
            <ul class="children">
                <li>
                    <a href="#!">Side Tables <span class="count">(2)</span></a>
                </li>
                <li>
                    <a href="#!">Lunch Tables <span class="count">(5)</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#!">Couches <span class="count">(3)</span></a>
        </li>
        <li>
            <a href="#!">Lighting <span class="count">(4)</span></a>
        </li>
    </ul>
</div><!-- /.widget-categories -->