<div class="col-md-9">
    <div class="masonry row">

        <div class="product col-md-4 col-sm-6 col-xs-12" data-product-id="1">
            <div class="inner-product">
                <div class="product-thumbnail">
                    <img src="build/img/products/24.jpg" class="img-responsive" alt="">
                </div>
                <div class="product-details text-center">
                    <div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
                    </div>
                </div>
            </div>
            <h3 class="product-title"><a href="#!">Shoes Maroon</a></h3>
            <div class="star-rating">
                <span style="width:20%"></span>
            </div>
            <p class="product-price">
                <ins>
                    <span class="amount">$80.99</span>
                </ins>
            </p>
        </div><!-- /.product -->

        <div class="product col-md-4 col-sm-6 col-xs-12" data-product-id="1">
            <div class="inner-product">
                <span class="onsale">Sale!</span>
                <div class="product-thumbnail">
                    <img src="build/img/products/2.jpg" class="img-responsive" alt="">
                </div>
                <div class="product-details text-center">
                    <div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
                    </div>
                </div>
            </div>
            <h3 class="product-title"><a href="#!">Bag Dark Beige</a></h3>
            <div class="star-rating">
                <span style="width:90%"></span>
            </div>
            <p class="product-price">
                <ins>
                    <span class="amount">$66.50</span>
                </ins>
                <del>
                    <span class="amount">$150.00</span>
                </del>
            </p>
        </div><!-- /.product sale-->

        <div class="product col-md-4 col-sm-6 col-xs-12" data-product-id="1">
            <div class="inner-product">
                <span class="onsale new">New!</span>
                <div class="product-thumbnail">
                    <img src="build/img/products/3.jpg" class="img-responsive" alt="">
                </div>
                <div class="product-details text-center">
                    <div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
                    </div>
                </div>
            </div>
            <h3 class="product-title"><a href="#!">Unisex Cap</a></h3>
            <div class="star-rating">
                <span style="width:65%"></span>
            </div>
            <p class="product-price">
                <ins>
                    <span class="amount">$99.99</span>
                </ins>
            </p>
        </div><!-- /.product new -->

        <div class="product col-md-4 col-sm-6 col-xs-12" data-product-id="1">
            <div class="inner-product">
                <span class="onsale hot">Hot!</span>
                <div class="product-thumbnail">
                    <img src="build/img/products/1.jpg" class="img-responsive" alt="">
                </div>
                <div class="product-details text-center">
                    <div class="product-btns">
										<span data-toggle="tooltip" data-placement="top" title="Add To Cart">
											<a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="Add to Favorites">
											<a href="#!" class="li-icon"><i class="lil-favorite"></i></a>
										</span>
										<span data-toggle="tooltip" data-placement="top" title="View">
											<a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
										</span>
                    </div>
                </div>
            </div>
            <h3 class="product-title"><a href="#!">Patterned Scarf</a></h3>
            <div class="star-rating">
                <span style="width:70%"></span>
            </div>
            <p class="product-price">
                <ins>
                    <span class="amount">$39.99</span>
                </ins>
            </p>
        </div><!-- /.product hot-->

    </div><!-- /.masonry -->

    <div class="clearfix text-center">
        <a href="#!" class="btn btn-default">Show More</a>
    </div>
</div>
</div><!-- /.row -->
