<div class="col-md-3" style="z-index: 20">
    <div class="shop-sidebar shop-sidebar-left">
        <div class="widgets">


            {% block widget_categories %}
                {{ render(controller('GaussBundle:Shop:getCategory')) }}
            {% endblock %}

            {% block widget_top_seller %}
                {{ render(controller('GaussBundle:Shop:getTopSeller')) }}
            {% endblock %}


        </div><!-- /.widgets -->
    </div><!-- /.shop-sidebar -->
</div>