<div class="widget widget-sizes">
    <h3 class="widget-title">Sizes</h3>
    <ul>
        <li><a href="#!">XS</a></li>
        <li><a href="#!">S</a></li>
        <li><a href="#!">M</a></li>
        <li><a href="#!">L</a></li>
        <li><a href="#!">XL</a></li>
    </ul>
</div><!-- /.widget-sizes -->