<div class="widget widget-search">
    <h3 class="widget-title">{{ 'label_mind'|trans }}&nbsp;<span class="typed-cursor">?</span></h3>
    <form action="#!" method="GET" class="inputs-border inputs-bg">
        <input type="text" class="form-control" placeholder="Search Products..">
    </form>
</div><!-- /.widget-search -->