<div class="widget widget-instagram">
    <h3 class="widget-title">Instagram</h3>
    <ul class="row">
        <li class="col-xs-4">
            <a href="#!">
                <img src="build/img/products/23.jpg" class="img-responsive" alt="">
            </a>
        </li>
        <li class="col-xs-4">
            <a href="#!">
                <img src="build/img/products/20.jpg" class="img-responsive" alt="">
            </a>
        </li>
        <li class="col-xs-4">
            <a href="#!">
                <img src="build/img/products/18.jpg" class="img-responsive" alt="">
            </a>
        </li>
        <li class="col-xs-4">
            <a href="#!">
                <img src="build/img/products/19.jpg" class="img-responsive" alt="">
            </a>
        </li>
        <li class="col-xs-4">
            <a href="#!">
                <img src="build/img/products/24.jpg" class="img-responsive" alt="">
            </a>
        </li>
        <li class="col-xs-4">
            <a href="#!">
                <img src="build/img/products/12.jpg" class="img-responsive" alt="">
            </a>
        </li>
    </ul>
</div><!-- /.widget-instagram -->