<div class="widget widget-price-filter">
    <h3 class="widget-title">Filter By Price</h3>
    <div class="price-slider-wrapper">
        <div id="filter-slider" class="filter-slider" data-min="10" data-max="1000" data-values="150,700"></div>
    </div>
    <form action="#">
        <div id="amount-slider">
            <strong>Price: </strong><span>$150 — $700</span>
        </div>
        <input type="hidden" id="price" value="150,700">
        <button type="button" class="btn btn-default">Filter</button>
    </form>
</div><!-- /.widget-price-filter -->