
<section class="section brands no-padding-top" id="brands">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="logos">
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/5.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/6.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/4.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/7.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/8.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/9.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/1.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/2.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#!"><img src="build/img/brands/3.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /#brands -->