<section class="section collections no-padding-bottom" id="home-collections">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 collection">
                <a href="#!">
                    <img src="build/img/collections/01.jpg" class="img-responsive" alt="">
                </a>
            </div><!-- /.collection -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 collection">
                        <a href="#!">
                            <img src="build/img/collections/02.jpg" class="img-responsive" alt="">
                        </a>
                    </div><!-- /.collection -->
                    <div class="col-sm-6 collection">
                        <a href="#!">
                            <img src="build/img/collections/03.jpg" class="img-responsive" alt="">
                        </a>
                    </div><!-- /.collection -->
                    <div class="col-sm-12 collection">
                        <a href="#!">
                            <img src="build/img/collections/04.jpg" class="img-responsive" alt="">
                        </a>
                    </div><!-- /.collection -->
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.collections -->