<section class="section collections no-padding-bottom" id="home-collections">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 collection">
                <a href="#!">
                    <img src="{{ asset(listProduct[0].image.webPath) }}" class="img-responsive" alt="">
                </a>
            </div><!-- /.collection -->
            <div class="col-sm-6">
                <div class="row">
                    {% for product in listProduct %}
                        {% if product.id != 1 and product.id <= 3 %}
                            <div class="col-sm-6 collection">
                                <a href="#!">
                                    <img src="{{ asset(product.image.webPath) }}" class="img-responsive" alt="">
                                </a>
                            </div><!-- /.collection -->
                    {% endif %}
                    {% endfor %}
{#                    <div class="col-sm-6 collection">
                        <a href="#!">
                            <img src="build/img/collections/03.jpg" class="img-responsive" alt="">
                        </a>
                    </div><!-- /.collection -->#}
                    <div class="col-sm-12 collection">
                        <a href="#!">
                            <img src="{{ asset(listProduct[4].image.webPath) }}" class="img-responsive" alt="">
                        </a>
                    </div><!-- /.collection -->
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.collections -->