<header class="header fullscreen" style="background-image: url('{{ asset('build/img/slides/2.jpg') }}');">
    <div class="container align-vertical">
        <div class="row">
            <div class="col-sm-5 text-left">
                <h1>We create products by today's standards<span class="typed-cursor">.</span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="button-group">
                    <a href="#!" class="btn btn-primary">Shop Now</a>
                    <a href="products-sidebar-left.html" class="btn btn-default">Products</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</header>