<header class="header fullscreen" style="background-image: url('{{ asset('build/img/slides/2m.jpg') }}');">
    <div class="container align-vertical">
        <div class="row">
            <div class="col-sm-5 text-left content-top-margin">
                <h1>Why not say <span class="autotype">Hello</span><span class="typed-cursor">?</span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="button-group">
                    <a href="{{ path('shoppage') }}" class="btn btn-primary">Shop Now</a>
                    <a href="{{ path('shoppage') }}" class="btn btn-default">Products</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</header>