{% set i =0 %}
{% for category in listCategory %}
    <li><a href="{{ path('shoppage_category', { 'id_categ' : category.id, 'nom_categ' : category.nom }) }}">{{ category.nom }}
            <span class="count">({{ count[i] }})</span></a>
    </li>
    {% set i = i+1 %}
{% endfor %}