
<section class="section promotions no-padding-bottom small-padding-top" id="promotions">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-local_atm"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Secure payment</h3>
                        <p>
                            Payment Via Paypal</br>
                            Payment via E-dinar from the post office<br>
                            Payment by bank transfer </br>
                            Payment via WU or Moneygram</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-public"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Customer Service 24/6 </h3>
                        <p>Email: info@gagafree.com </br>
                            Tel2: 00216 98 631 165 </br>
                            Skype: gagafree </br>
                            viber: 00216 98 631 165</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-local_shipping"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Shipping</h3>
                        <p>To send your order validated at the delivery service of Gshop, Our Site offers 3 delivery methods,
                            packages are oversized and protected.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.promotions -->