
<section class="section promotions no-padding-bottom small-padding-top" id="promotions">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-local_atm"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Money Back</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-public"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">In Worldwide</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="promotion media">
                    <div class="media-left media-middle">
                        <i class="lil-local_shipping"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Free Shipping</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.promotions -->