<div class="swiper-slider">
    <!-- Slider main container -->
    <div class="swiper-container fullscreen">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper text-center">
            <!-- Slides -->
            <div class="swiper-slide" style="background-image: url(build/img/slides/01.jpg);">
                <div class="valign-wrapper fullscreen">
                    <div class="valign col-xs-offset-3" data-swiper-parallax="-100">
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(build/img/slides/02.jpg);">
                <div class="valign-wrapper fullscreen">
                    <div class="valign col-xs-offset-8" data-swiper-parallax="-100">
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(build/img/slides/03.jpg);">
                <div class="valign-wrapper fullscreen">
                    <div class="valign col-xs-offset-5">
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"><i class="lil-chevron_left"></i></div>
        <div class="swiper-button-next"><i class="lil-chevron_right"></i></div>
    </div>
</div><!-- /.swiper-slider -->