{% extends "base.html.twig" %}

{% block navbar %}
    <div class="container">
        <div class="row">
            {{ include ('@Gauss/Default/layout/navbar.html.twig') }}

      <div class="page-head content-top-margin">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-sm-7">
               <ol class="breadcrumb">
                  <li><a href="index-2.html">Home</a></li>
                  <li class="active">Products</li>
               </ol>
            </div>
         </div><!-- /.row -->
      </div><!-- /.container -->
      </div><!-- /.page-head -->

        </div>
    </div>
{% endblock %}
{% block content %}
<section class="section products-grid second-style" style="margin-top: -30px;">
   <div class="container">
      <div class="row">
         {% block shop_sidebar %}
            {{ include ('@Gauss/Shop/layout/shop-sidebar.html.twig') }}
         {% endblock %}

          {% block content_shop %}
              {{ render(controller('GaussBundle:Shop:getProduct')) }}
          {% endblock %}

      </div>
   </div><!-- /.container -->


</section><!-- /.products-grid -->
{% endblock %}


{% block brands %}

{% endblock %}

{% block footer %}
   {{ include ('@Gauss/Default/layout/footer.html.twig') }}
{% endblock %}
